---
import Card from "../components/Card.astro";
import BaseLayout from "../layouts/BaseLayout.astro";

const pageTitle = "Frontend Mentor | QR Code Component";
---

<BaseLayout pageTitle={pageTitle}>
	<main class="h-screen w-full grid place-items-center">
		<Card />
	</main>
</BaseLayout>
