---
---

<footer class="fixed bottom-4 left-0 w-full">
  <p
    class="text-blue-dark dark:text-white text-center font-outfit text-footer"
  >
    Challenge by{" "}
    <a
      class="text-blue-footer"
      href="https://www.frontendmentor.io?ref=challenge"
      target="_blank"
    >
      Frontend Mentor
    </a>
    . Coded by{" "}
    <a
      class="text-blue-footer"
      href="https://github.com/nocturne-dev"
      target="_blank">Frankii Tang</a
    >
    .
  </p>
</footer>
